<html>
<form action="/data" method = "POST">
    <p>HighBP <input type = "text" name = "HighBP" /></p>
    <p>HighChol <input type = "text" name = "HighChol" /></p>
    <input type = "text" name = "CholCheck" value = 0 hidden = true/></p>
    <p>Smoker <input type = "text" name = "Smoker" /></p>
    <p>Stroke <input type = "text" name = "Stroke" /></p>
    <input type = "text" name = "PhysActivity" value = 0 hidden = true/></p>
    <input type = "text" name = "Fruits" value = 0 hidden = true/></p>
    <input type = "text" name = "Veggies" value = 0 hidden = true/></p>
    <input type = "text" name = "HvyAlcoholConsump" value = 0 hidden = true/></p>
    <input type = "text" name = "AnyHealthcare" value = 0 hidden = true/></p>
    <input type = "text" name = "NoDocbcCost" value = 0 hidden = true/></p>
    <p>GenHlth <input type = "text" name = "GenHlth" /></p>
    <input type = "text" name = "DiffWalk" value = 0 hidden = true/></p>
    <p>Sex <input type = "text" name = "Sex" /></p>
    <p>Age <input type = "text" name = "Age" /></p>
    <input type = "text" name = "Education" value = 0 hidden = true/></p>
    <input type = "text" name = "Income" value = 0 hidden = true/></p>
    <input type = "text" name = "BMI_bin" value = 0 hidden = true/></p>
    <input type = "text" name = "MentHlth_bin" value = 0 hidden = true/></p>
    <input type = "text" name = "PhysHlth_bin" value = 0 hidden = true/></p>
    <input type = "text" name = "Diabetes_bin" value = 0 hidden = true/></p>
    <p><input type = "submit" value = "Submit" /></p>
</form>
</html>