<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Heart Disease Predictor</title>
</head>
<body>
<h1>Predict chance of heart disease!</h1>
<h2> THIS IS NOT MEDICAL ADVICE AND SHOULD NOT BE USED AS SUCH. FOR ANY REAL CONCERNS PLEASE VISIT A TRAINED MEDICAL PROFESSIONAL. THIS IS FOR EDUCATIONAL PURPOSES ONLY</h2>
<form action="shortenurl">
    <label for="url">Enter URL</label>
    <input type="url" name="url" value="" required>
    <label for="shortcode">Enter Name</label>
    <input type="text" name="shortcode" value="" required>
    <input type="submit" value="Submit">
</form>

</body>
</html>