<!DOCTYPE html>
<html lang="en">

<head>
	<title> Basic Heart Disease Predictor! </title>
	<style>
 /* I really need to pull out this style sheet but it broke whne I did so thats a later problem */
        /* Styling the Body element i.e. Color,
        Font, Alignment */
        body {
            background-color: #05c46b;
            font-family: Verdana;
            text-align: center;
        }
 
        /* Styling the Form (Color, Padding, Shadow) */
        form {
            background-color: #fff;
            max-width: 500px;
            margin: 50px auto;
            padding: 30px 20px;
            box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
        }
 
        /* Styling form-control Class */
        .form-control {
            text-align: left;
            margin-bottom: 25px;
        }
 
        /* Styling form-control Label */
        .form-control label {
            display: block;
            margin-bottom: 10px;
        }
 
        /* Styling form-control input,
        select, textarea */
        .form-control input,
        .form-control select,
        .form-control textarea {
            border: 1px solid #777;
            border-radius: 2px;
            font-family: inherit;
            padding: 10px;
            display: block;
            width: 95%;
        }
 
        /* Styling form-control Radio
        button and Checkbox */
        .form-control input[type="radio"],
        .form-control input[type="checkbox"] {
            display: inline-block;
            width: auto;
        }
 
        /* Styling Button */
        button {
            background-color: #05c46b;
            border: 1px solid #777;
            border-radius: 2px;
            font-family: inherit;
            font-size: 21px;
            display: block;
            width: 100%;
            margin-top: 50px;
            margin-bottom: 20px;
        }
    </style>
</head>

<body>
	<h1>Predict Heart Disease with a simple model!</h1>
    <h2>This is not medical advice and should not be used as such! For all medical advice please seek the assitance of a licensed doctor. For education purposes only!!!</h2>

	<!-- Create Form -->
	<form id="form">

		<!-- Details -->

		<div class="form-control">
			<label>
				Are you at Risk for Heart Disease?
			</label>

			<!-- Input Type Radio Button, which is a button ina  group where only one can be selected at a time -->
			<label for="heartdisease">
				<input type="radio"
					id="heartdisease"
					name="heartdisease">Yes</input>
			</label>
			<label for="heartdisease">
				<input type="radio"
					id="heartdisease"
					name="heartdisease">No</input>
		</div>


		<div class="form-control">
			<label>
				Do you have High Blood Pressure?
			</label>

			<!-- Input Type Radio Button, which is a button ina  group where only one can be selected at a time -->
			<label for="BP">
				<input type="radio"
					id="BP"
					name="BP">Yes</input>
			</label>
			<label for="BP">
				<input type="radio"
					id="BP"
					name="BP">No</input>
		</div>


		<div class="form-control">
			<label>
				Do you have High Cholesterol?
			</label>

			<!-- Input Type Radio Button, which is a button ina  group where only one can be selected at a time -->
			<label for="cholest">
				<input type="radio"
					id="cholest"
					name="cholest">Yes</input>
			</label>
			<label for="cholest">
				<input type="radio"
					id="cholest"
					name="cholest">No</input>
		</div>

		<div class="form-control">
			<label>
				What group does yourt Body Mass Index fall into?
			</label>

			<!-- Input Type Radio Button, which is a button ina  group where only one can be selected at a time -->
			<label for="BMI">
				<input type="radio"
					id="BMI"
					name="BMI">Underweight (BMI less than 18.5) </input>
			</label>
			<label for="BMI">
				<input type="radio"
					id="BMI"
					name="BMI">Healthy Weight (BMI 18.5 - 24.9) </input>
			</label>
			<label for="BMI">
				<input type="radio"
					id="BMI"
					name="BMI">Overweight (BMI 25 - 29.9) </input>
			</label>
			<label for="BMI">
				<input type="radio"
					id="BMI"
					name="BMI">Obese (BMI greater than 30) </input>
		</div>


		<div class="form-control">
			<label>
				Are you a habitual tobacco smoker?
			</label>

			<!-- Input Type Radio Button, which is a button ina  group where only one can be selected at a time -->
			<label for="smoker">
				<input type="radio"
					id="smoker"
					name="smoker">Yes</input>
			</label>
			<label for="smoker">
				<input type="radio"
					id="smoker"
					name="smoker">No</input>
		</div>


		<div class="form-control">
			<label>
				Have you ever had a Stroke?
			</label>

			<!-- Input Type Radio Button, which is a button ina  group where only one can be selected at a time -->
			<label for="stroke">
				<input type="radio"
					id="stroke"
					name="stroke">Yes</input>
			</label>
			<label for="stroke">
				<input type="radio"
					id="stroke"
					name="stroke">No</input>
		</div>

		<div class="form-control">
			<label>
				Are you diabetic?
			</label>

			<!-- Input Type Radio Button, which is a button ina  group where only one can be selected at a time -->
			<label for="diabetic">
				<input type="radio"
					id="diabetic"
					name="diabetic">Yes</input>
			</label>
			<label for="diabetic">
				<input type="radio"
					id="diabetic"
					name="diabetic">No</input>
		</div>

		<div class="form-control">
			<label>
				Have you completed physical activity within the last 30 days?
			</label>

			<!-- Input Type Radio Button, which is a button ina  group where only one can be selected at a time -->
			<label for="physact">
				<input type="radio"
					id="physact"
					name="physact">Yes</input>
			</label>
			<label for="physact">
				<input type="radio"
					id="physact"
					name="physact">No</input>
		</div>

		<div class="form-control">
			<label>
				Consumes Fruit greater than or equal to once a day ( >= 1) ?
			</label>

			<!-- Input Type Radio Button, which is a button ina  group where only one can be selected at a time -->
			<label for="fruit">
				<input type="radio"
					id="fruit"
					name="fruit">Yes</input>
			</label>
			<label for="fruit">
				<input type="radio"
					id="fruit"
					name="fruit">No</input>
		</div>

		<div class="form-control">
			<label>
				Consumes veggetables greater than or equal to once a day ( >= 1) ?
			</label>

			<!-- Input Type Radio Button, which is a button ina  group where only one can be selected at a time -->
			<label for="veggies">
				<input type="radio"
					id="veggies"
					name="veggies">Yes</input>
			</label>
			<label for="veggies">
				<input type="radio"
					id="veggies"
					name="veggies">No</input>
		</div>

		<div class="form-control">
			<label>
				Do you engage in heavy alcohol consumption as defined as greater than 14 drinks per week for men and 
				greater than 7 drinks per week for women?
			</label>

			<!-- Input Type Radio Button, which is a button ina  group where only one can be selected at a time -->
			<label for="alcohol">
				<input type="radio"
					id="alcohol"
					name="alcohol">Yes</input>
			</label>
			<label for="alcohol">
				<input type="radio"
					id="alcohol"
					name="alcohol">No</input>
		</div>

		<div class="form-control">
			<label>
				Do you have healthcare coverage?
			</label>

			<!-- Input Type Radio Button, which is a button ina  group where only one can be selected at a time -->
			<label for="coverage">
				<input type="radio"
					id="coverage"
					name="coverage">Yes</input>
			</label>
			<label for="coverage">
				<input type="radio"
					id="coverage"
					name="coverage">No</input>
		</div>

		<div class="form-control">
			<label>
				Did you avoid seeking healthcare due to the cost in the last 12 months?
			</label>

			<!-- Input Type Radio Button, which is a button ina  group where only one can be selected at a time -->
			<label for="DocBc">
				<input type="radio"
					id="DocBc"
					name="DocBc">Yes</input>
			</label>
			<label for="DocBc">
				<input type="radio"
					id="DocBc"
					name="DocBc">No</input>
		</div>

		<div class="form-control">
			<label>
				In the past 30 days, how many poor mental health days did you experience?
			</label>

			<!-- Input Type Radio Button, which is a button ina  group where only one can be selected at a time -->
			<label for="mntl_hlth">
				<input type="radio"
					id="mntl_hlth"
					name="mntl_hlth"> Low (0 - 10 poor mental health days per month) </input>
			</label>
			<label for="mntl_hlth">
				<input type="radio"
					id="mntl_hlth"
					name="mntl_hlth"> Medium (11-20 poor mental health days per month) </input>
			</label>
			<label for="mntl_hlth">
				<input type="radio"
					id="mntl_hlth"
					name="mntl_hlth"> High (21 - 30 poor mental health days per month) </input>
		</div>

		<div class="form-control">
			<label>
				In the past 30 days, how many days would you classify by poor physical health?
			</label>

			<!-- Input Type Radio Button, which is a button ina  group where only one can be selected at a time -->
			<label for="phys_hlth">
				<input type="radio"
					id="phys_hlth"
					name="phys_hlth"> Low (0 - 10 poor physical health days per month) </input>
			</label>
			<label for="phys_hlth">
				<input type="radio"
					id="phys_hlth"
					name="phys_hlth"> Medium (11-20 poor physical health days per month) </input>
			</label>
			<label for="phys_hlth">
				<input type="radio"
					id="phys_hlth"
					name="phys_hlth"> High (21 - 30 poor physical health days per month) </input>
		</div>

		
		<div class="form-control">
			<label>
				Do you experience difficulty walking or climbing/descending stairs?
			</label>

			<!-- Input Type Radio Button, which is a button ina  group where only one can be selected at a time -->
			<label for="stairs">
				<input type="radio"
					id="stairs"
					name="stairs">Yes</input>
			</label>
			<label for="stairs">
				<input type="radio"
					id="stairs"
					name="stairs">No</input>
		</div>

		<div class="form-control">
			<label>
				Biological Sex at birth?
			</label>

			<!-- Input Type Radio Button, which is a button ina  group where only one can be selected at a time -->
			<label for="sex">
				<input type="radio"
					id="sex"
					name="sex">Male</input>
			</label>
			<label for="sex">
				<input type="radio"
					id="sex"
					name="sex">Female</input>
		</div>

		<div class="form-control">
			<label for="age"> What is your age? </label>

			<input type="number" id="age" name="age"
				   min="10" max="100">
		</div>

		<div class="form-control">
			<label>
				What is the highest level of education acheived?
			</label>

			<!-- Input Type Radio Button, which is a button ina  group where only one can be selected at a time -->
			<label for="education">
				<input type="radio"
					id="education"
					name="education"> Less than a Highschool Degree </input>
			</label>
			<label for="education">
				<input type="radio"
					id="education"
					name="education"> Highschool Degree </input>
			</label>
			<label for="education">
				<input type="radio"
					id="education"
					name="education"> Bachelors Degree </input>
			</label>
			<label for="education">
				<input type="radio"
					id="education"
					name="education"> Masters Degree </input>
			</label>
			<label for="education">
				<input type="radio"
					id="education"
					name="education"> Doctorate Degree </input>
		</div>

		<div class="form-control">
			<label>
				What is your level of household income?
			</label>

			<!-- Input Type Radio Button, which is a button ina  group where only one can be selected at a time -->
			<label for="income">
				<input type="radio"
					id="income"
					name="income"> Bin 1 </input>
			</label>
			<label for="income">
				<input type="radio"
					id="income"
					name="income"> Bin 2 </input>
			</label>
			<label for="income">
				<input type="radio"
					id="income"
					name="income"> Bin 3 </input>
			</label>
			<label for="income">
				<input type="radio"
					id="income"
					name="income"> Bin 4 </input>
			</label>
			<label for="income">
				<input type="radio"
					id="income"
					name="income"> Bin 5 </input>
			
		</div>


		<!-- Multi-line Text Input Control will need to be linked to some python script for the output-->
		<button type="submit" value="submit">
			Submit
		</button>
	</form>
</body>

</html>
